

.container {
    display: flex;
    /* align-items: center; */
    margin: 6rem;
    border: 2px solid lightgray;  
    padding: 0 2rem; 
}

.listbox {
    width: 42%;

    /* border: 2px solid gray; */
    
}

input {
    margin: 0.7rem 0;
    font-weight: 200%;
}

.buttons {
    display: flex;
    /* height: 1; */
    /* position:fixed; */
    flex-direction: column;
    padding: 0 20px;

    border: 2px solid lightgray;
    padding-bottom: 100;
}

.buttons button {
    margin: 3px 0;
    padding: 5px;
    width: 40px;
    cursor: pointer;
    /* margin: 0px 0px; */

}
.two{
    padding-left: 1.5rem;
}

.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
